@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
}

section::before {
    content: "";
    position: absolute;
    height: 85vh;
    width: 70vh;
    top: 0;
    left: -100px;
    background-image: linear-gradient(200deg, rgba(233, 66, 255, 1) -25%, rgba(136, 56, 255, 1) 100%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: -1;
}

section::after {
    content: "";
    position: absolute;
    height: 85vh;
    width: 70vh;
    bottom: 0;
    right: -100px;
    background-color: hsl(290deg 38% 97%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    z-index: -1;
}

@media (max-width: 767px) {
    section::before {
        left: -90%;
    }

    section::after {
        right: -90%;
    }
}

section .cols {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

@media (max-width: 767px) {
    section .cols {
        flex-direction: column;
    }
}

section .mobile {
    flex: 0 25%;
    max-width: 85%;
    background-color: hsl(270, 20%, 96%);
    border: 10px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 14px 17px 8px -1px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 14px 17px 8px -1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 14px 17px 8px -1px rgba(0, 0, 0, 0.09);
}

@media (max-width: 767px) {
    section .mobile {
        margin-bottom: 50px;
    }
}

section .mobile img {
    border-radius: 50%;
    max-width: 30px;
    border: 2px solid hsl(0, 0%, 100%);
    margin: 0 10px;
}

section .mobile .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px 5px;
    background-image: linear-gradient(to left, rgba(233, 66, 255, 1), rgba(136, 56, 255, 1));
    border-radius: 20px 20px 6px 6px;
    position: relative;
}

section .mobile .head::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 70%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 0px 20px 20px;
    top: -1px;
    left: 50px;
}

section .mobile .head i {
    color: hsl(0, 0%, 100%);
}

section .mobile .head .text {
    margin-right: auto;
}

section .mobile .head h4 {
    color: hsl(270, 20%, 96%);
    font-weight: 500;
}

section .mobile .head p {
    color: hsl(276, 100%, 81%);
    font-size: 12px;
}

section .mobile .left-message {
    background-color: hsl(272deg 41% 93%);
    width: fit-content;
    max-width: 60%;
    margin: 5px;
    border-radius: 10px;
    color: hsl(276, 55%, 52%);
    padding: 10px;
    font-size: 11px;
}

section .mobile .right-msg,
section .mobile .images {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 5px;
}

section .mobile .images img {
    border-radius: 10px;
    max-width: 40px;
    margin: 0px;
}

section .mobile .right-message {
    color: hsl(271, 15%, 43%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    max-width: 60%;
    font-size: 11px;
}

section .mobile .time-price {
    background-image: linear-gradient(to left, rgba(136, 56, 255, 1), rgba(233, 66, 255, 1));
    max-width: 60%;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .mobile .time-price i {
    margin-right: 15px;
    color: transparent;
    border: 1px solid hsl(289, 100%, 72%);
    border-radius: 50%;
}

section .mobile .time-price span:first-of-type {
    margin-right: auto;
    font-size: 11px;
    color: hsl(0, 0%, 100%);
}

section .mobile .time-price span:last-of-type {
    font-size: 16px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

section .mobile .foot {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    margin: 10px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .mobile .foot input {
    border: none;
    outline: none;
}

section .mobile .foot input::placeholder {
    color: hsl(206, 6%, 79%);
}

section .mobile .foot input[type="submit"] {
    background-color: hsl(271, 36%, 24%);
    color: hsl(0, 0%, 100%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 18px;
}

section .right {
    flex: 0 38%;
    max-width: 90%;
}

@media (max-width: 767px) {
    section .right {
        text-align: center;
    }
}

section .right h2 {
    color: hsl(271, 36%, 24%);
    font-size: 30px;
    margin-bottom: 15px;
}

section .right p {
    color: hsl(270, 7%, 64%);
    line-height: 1.6;
}

.attribution {
    padding: 20px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(271, 36%, 24%);
    text-align: center;
}

.attribution a {
    color: hsl(276, 55%, 52%);
    font-weight: 700;
}

.attribution a:hover {
    color: hsl(0, 0%, 100%);
}